.check-box-section {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.wrapper {
    flex: 1 1;
}

.select-btn,
li {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.select-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 50px;
    width: 100%;
    padding: 0 20px;
    font-size: 14px;
    background: #fff;
    border-radius: 7px;
    justify-content: space-between;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.select-btn i {
    font-size: 25px;
    transition: transform 0.3s linear;
}

.wrapper.active .select-btn i {
    transform: rotate(-180deg);
}

.content {
    width: inherit;
    display: none;
    position: absolute;
    z-index: 1;
    padding: 20px;
    margin-top: 15px;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.wrapper.active .content {
    display: block;
}

.content .search {
    position: relative;
}

.search i {
    top: 50%;
    left: 15px;
    color: #999;
    font-size: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    position: absolute;
}

.search input {
    height: 50px;
    width: 100%;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    padding: 0 0 0 43px;
    border: 1px solid #B3B3B3;
}

.search input:focus {
    padding-left: 42px;
    border: 2px solid #4285f4;
}

.search input::placeholder {
    color: #bfbfbf;
}

.content .options {
    margin-top: 10px;
    max-height: 250px;
    overflow-y: auto;
    padding-right: 7px;
}

.options::-webkit-scrollbar {
    width: 7px;
}

.options::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 25px;
}

.options::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 25px;
}

.options::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
}

.options li {
    height: 50px;
    padding: 0 13px;
    font-size: 15px;
}

.options li:hover,
li.selected {
    border-radius: 5px;
    background: #f2f2f2;
}

.disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
    pointer-events: none;
    color: #999;
}

#reset{
    border-radius: 7px;
    flex-grow: 1;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
}